@import '../../styles/settings.scss';

.navBar {
    
   
    background-color: #333;
    color: #fff;
    padding: 0 20px;
  }
  
  .navBarInner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  
  .navBarUl {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .linkActive {
    color: $color-warning;
  }